frr version 7.0
frr defaults traditional
!
hostname netsvr-01
!
!
!
router bgp {{ frr['asn'] }}
  bgp log-neighbor-changes
  no bgp default ipv4-unicast
{% for group in frr['bgp']['groups'] %}
 neighbor {{ group['name'] }} peer-group
 neighbor {{ group['name'] }} remote-as {{ group['asn'] }}
{% if 'ipv4' in group['listen_range'] %}
 bgp listen range {{ group['listen_range']['ipv4'] }} peer-group {{ group['name'] }}
{% endif %}
{% if 'ipv6' in group['listen_range'] %}
 bgp listen range {{ group['listen_range']['ipv6'] }} peer-group {{ group['name'] }}
{% endif %}
{% endfor %}
address-family ipv4 unicast
{% if 'networks' in frr['bgp']['address_family']['ipv4'] %}
{% for network in frr['bgp']['address_family']['ipv4']['networks'] %}
  network {{ network }}
{% endfor %}
{% endif %}
{% for group in frr['bgp']['groups'] %}
{% if 'ipv4' in group['address_family'] %}
{% if 'unicast' in group['address_family']['ipv4']['safi'] %}
  neighbor {{ group['name'] }} activate
{% endif %}
{% endif %}
{% endfor %}

address-family ipv6 unicast
{% if 'networks' in frr['bgp']['address_family']['ipv6'] %}
{% for network in frr['bgp']['address_family']['ipv6']['networks'] %}
  network {{ network }}
{% endfor %}
{% endif %}
{% for group in frr['bgp']['groups'] %}
{% if 'ipv6' in group['address_family'] %}
{% if 'unicast' in group['address_family']['ipv6']['safi'] %}
  neighbor {{ group['name'] }} activate
{% endif %}
{% endif %}
{% endfor %}
!
!
line vty
!

