description "{{ item.desc }}"
{% if item.vlandev is defined %}
vnetid {{ item.vlanid }} parent {{ item.vlandev }}
{% endif %}
{% if item.ipv4 is defined %}
{% if 'dhcp' in item.ipv4 %}
dhcp
{% else %}
inet {{ item.ipv4 }} 
{% endif %}
{% endif %}
{% if item.ipv6 is defined %}
inet6 alias {{ item.ipv6 }}
{% endif %}
up
