{% for client in radius['clients'] %}
client {{ client['ipv4'] }} {
       secret          = {{ client['secret'] }}
       shortname       = {{ client['name'] }}
       nastype         = {{ client['nas'] }} 
}
{% endfor %}
